<div
  class="footer-light"
  [ngClass]="{
    'footer-light': lightTheme === true,
    'footer-dark': lightTheme === false
  }"
>
  <div class="center">
    <div class="image">
      <img
        class="logo navbar-brand"
        ngSrc="assets/Mate/SVG/Mate.svg"
        width="600"
        height="200"
        style="max-width: 80%; height: auto"
        priority
      />
    </div>
  </div>
  <div class="center-bottom">
    <div class="bottom">
      <div class="text">
        <p>© 2024, Created by Mate Oqroshiashvili.</p>
      </div>

      <div class="links">
        <nav>
          <ul>
            <li>
              <a
                style="text-decoration: none; color: white"
                href="https://www.freetogame.com/api-doc"
                >API</a
              >
            </li>
            <li>
              <a
                style="text-decoration: none; color: white"
                href="https://github.com/Mate-Oqroshiashvili"
                >Github</a
              >
            </li>
            <li>
              <a
                style="text-decoration: none; color: white"
                href="https://www.linkedin.com/in/mate-oqroshiashvili-145742296/"
                >LinkedIn</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
