header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.body-dark {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  background-image: url(../assets/Mate/Background/bangalore-newcastle-apex-legends-4k-wallpaper-uhdpaper.com-263@1@h.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.body-light {
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  background-image: url(../assets/Mate/Background/diablo-immortal-demon-hunter-wizard-4k-wallpaper-uhdpaper.com-484@1@h.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
